<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #equipmentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="!equipment.id">{{ 'CreateNewEquipment' | localize }}</span>
                        <span *ngIf="equipment.id">{{ 'EditEquipment' | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" [attr.aria-label]="l('Close')" (click)="close()"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="form-label required">{{ 'EquipmentName' | localize }}</label>
                                <input
                                    #nameInput="ngModel"
                                    type="text"
                                    id="Name"
                                    name="Name"
                                    class="form-control"
                                    [(ngModel)]="equipment.name"
                                    required
                                    maxlength="256"
                                />
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Brand" class="form-label">{{ 'Brand' | localize }}</label>
                                <input
                                    type="text"
                                    id="Brand"
                                    name="Brand"
                                    class="form-control"
                                    [(ngModel)]="equipment.brand"
                                    maxlength="256"
                                />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Model" class="form-label">{{ 'Model' | localize }}</label>
                                <input
                                    type="text"
                                    id="Model"
                                    name="Model"
                                    class="form-control"
                                    [(ngModel)]="equipment.model"
                                    maxlength="256"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="SerialNumber" class="form-label">{{ 'SerialNumber' | localize }}</label>
                                <input
                                    type="text"
                                    id="SerialNumber"
                                    name="SerialNumber"
                                    class="form-control"
                                    [(ngModel)]="equipment.serialNumber"
                                    maxlength="256"
                                />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="LocationId" class="form-label">{{ 'LocationId' | localize }}</label>
                                <input
                                    type="number"
                                    id="LocationId"
                                    name="LocationId"
                                    class="form-control"
                                    [(ngModel)]="equipment.locationId"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Division" class="form-label required">{{ 'Division' | localize }}</label>
                                <enum-select
                                    #divisionInput="ngModel"
                                    [(ngModel)]="equipment.division"
                                    name="Division"
                                    [enumType]="equipmentDivision"
                                    [placeholder]="l('SelectDivision')"
                                    [includeAllOption]="false"
                                    required
                                ></enum-select>
                                <validation-messages [formCtrl]="divisionInput"></validation-messages>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Owner" class="form-label required">{{ 'Owner' | localize }}</label>
                                <enum-select
                                    #ownerInput="ngModel"
                                    [(ngModel)]="equipment.owner"
                                    name="Owner"
                                    [enumType]="equipmentOwner"
                                    [placeholder]="l('SelectOwner')"
                                    [includeAllOption]="false"
                                    required
                                ></enum-select>
                                <validation-messages [formCtrl]="ownerInput"></validation-messages>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Status" class="form-label required">{{ 'Status' | localize }}</label>
                                <enum-select
                                    #statusInput="ngModel"
                                    [(ngModel)]="equipment.status"
                                    name="Status"
                                    [enumType]="equipmentStatus"
                                    [placeholder]="l('SelectStatus')"
                                    [includeAllOption]="false"
                                    required
                                ></enum-select>
                                <validation-messages [formCtrl]="statusInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Description" class="form-label">{{ 'Description' | localize }}</label>
                                <textarea
                                    id="Description"
                                    name="Description"
                                    class="form-control"
                                    [(ngModel)]="equipment.description"
                                    rows="3"
                                    maxlength="1000"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!equipmentForm.form.valid || saving">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
